@page
@model IndexModel

<div class="bg-gradient">
    <div class="mdc-layout-grid jumborton-max-width no-padding-bottom">
        <div class="mdc-layout-grid__inner">
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--order-0 d-flex flex-column justify-content-center second">
                <h1 class="mdc-typography--headline3">Create & Share Your Personal Skincare Routine</h1>
                <p class="mdc-typography--headline6">
                    A site to build your personal skincare routine that is sharable via an
                    image, permalink, or print
                </p>
                <a asp-area="" asp-page="/Routines/Create" class="create-routine mdc-button mdc-button--raised">
                    <div class="mdc-button__ripple"></div>
                    <i class="material-icons mdc-button__icon">create</i>
                    <span class="mdc-button__label">Create Routine</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="bg-surface">
    <div class="mdc-layout-grid d-flex justify-content-center py-2 py-lg-5" style="max-width: 1100px;">
        <div class="mdc-layout-grid__inner">
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-12-tablet">
                <p class="mdc-typography--body1">
                    I am a full-time software engineer with a passion for skin-care.
                    After being overwhelmed with researching skincare routines in the web, I built this site
                    as a platform to easily store and share community-created routines that anyone can easily
                    download and refer to later.
                </p>
                <p class="mdc-typography--body1">
                    This is my own side project that I enjoyed putting together. It may not really solve a real problem.
                    However, if you think of a feature to make it more useful
                    <a
                        href="mailto:m91.alahmadi@gmail.com?Subject=[skinshare]">
                        let me know
                    </a>!
                    Here are current and upcoming features this site provides:
                </p>

                <div class="mdc-list mdc-list--non-interactive mdc-list--dense">
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">check_box</span>
                        <span class="mdc-list-item__text">Permalink</span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">check_box_outline_blank</span>
                        <span class="mdc-list-item__text">Image, and print sharing</span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">check_box_outline_blank</span>
                        <span class="mdc-list-item__text">Browse others' public routines</span>
                    </li>
                    <li class="mdc-list-item">
                        <span class="mdc-list-item__graphic material-icons" aria-hidden="true">check_box_outline_blank</span>
                        <span class="mdc-list-item__text">Store mutliple routines to an account</span>
                    </li>
                </div>

                <div class="mdc-list mdc-list--non-interactive example-demo-max-width">
                    <li class="home-example mdc-list-item">
                        <span class="mdc-list-item__text">Example</span>
                        <span
                            class="mdc-list-item__meta material-icons display-incline-block display-none-desktop"
                            aria-hidden="true">
                            arrow_right_alt
                        </span>
                        <span
                            class="mdc-list-item__meta material-icons display-none display-incline-block-desktop"
                            aria-hidden="true">
                            arrow_downward_alt
                        </span>
                    </li>
                </div>
            </div>
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-12-tablet">
            </div>
            <div
                class="mdc-layout-grid__cell mdc-layout-grid__cell--span-7-desktop mdc-layout-grid__cell--span-12-tablet mb-3">
                <div class="routine flex-grow-1 bg-white">
                    <h2 class="routine__title px-2 px-lg-0">An Example Routine Title</h2>
                    <p class="routine__description px-2 px-lg-0">
                        Some detail about your routine: type of skin it fits, price budget, or whatever further information you
                        want to provide.
                        For example, This is my (site author) personal routine below
                    </p>
                    <div class="steps">
                        <div class="steps__timeOfDay mdc-list mdc-list--non-interactive">
                            <li class="mdc-list-item mdc-ripple-upgraded morning">
                                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">wb_sunny</span>
                                <span class="mdc-list-item__text">Morning</span>
                            </li>
                        </div>
                        <ul>
                            <li class="single">
                                <ul>
                                    <li class="order">Step 1</li>
                                    <li class="step-description">Wash face with CeraVe Hydrating Facial Cleanser</li>
                                </ul>
                            </li>
                            <li class="single">
                                <ul>
                                    <li class="order">Step 2</li>
                                    <li class="step-description">Moisturize with Cetaphil moisturizing cream</li>
                                </ul>
                            </li>
                            <li class="single">
                                <ul>
                                    <li class="order">Step 3</li>
                                    <li class="step-description">
                                        Apply sunscreen using Biore Sarasara UV Aqua Rich Watery Essence
                                        Sunscreen SPF50+
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="steps">
                        <div class="steps__timeOfDay mdc-list mdc-list--non-interactive">
                            <li class="mdc-list-item mdc-ripple-upgraded evening">
                                <span class="mdc-list-item__graphic material-icons" aria-hidden="true">nights_stay</span>
                                <span class="mdc-list-item__text">Evening</span>
                            </li>
                        </div>
                        <ul>
                            <li class="single">
                                <ul>
                                    <li class="order">Step 1</li>
                                    <li class="step-description">Wash face with CeraVe Hydrating Facial Cleanser</li>
                                </ul>
                            </li>
                            <li class="single">
                                <ul>
                                    <li class="order">Step 2</li>
                                    <li class="step-description">Apply 0.1% Tretinoin Cream</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="mdc-card__actions justify-content-end">
                        <div class="mdc-card__action-buttons">
                            <button disabled class="mdc-button mdc-card__action mdc-card__action--button">
                                <span
                                    class="mdc-button__ripple">
                                </span>Download PNG
                            </button>
                            <button disabled class="mdc-button mdc-card__action mdc-card__action--button">
                                <span
                                    class="mdc-button__ripple">
                                </span>Print 
                            </button>
                            <button class="mdc-button mdc-card__action mdc-card__action--button">
                                <span
                                    class="mdc-button__ripple">
                                </span>Copy Permalink
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>