@page
@model Skinshare.Web.Pages.Routines.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Routine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <app-root></app-root>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section StyleSheets {
    <environment include="Development">
        @{await Html.RenderPartialAsync("_AppStyleSheets");}
    </environment>
    <environment exclude="Development">
        @{await Html.RenderPartialAsync("_AppStyleSheetsProd");}
    </environment>
}

@section Scripts {
    <environment include="Development">
        @{await Html.RenderPartialAsync("_AppScripts");}
    </environment>
    <environment exclude="Development">
        @{await Html.RenderPartialAsync("_AppScriptsProd");}
    </environment>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
