@page
@model Skinshare.Web.Pages.Routines.CreateModel

@{
    ViewData["Title"] = "Create Routine";
}

<div class="mdc-layout-grid py-4 py-lg-5" style="max-width: 1200px;">
    <div class="mdc-layout-grid__inner">
        <div
            class="create-wrapper mdc-layout-grid__cell mdc-layout-grid__cell--align-center mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-12-tablet mb-3">
            <app-root></app-root>
        </div>
    </div>
</div>

@section StyleSheets {
    <environment exclude="Development">
        @{ await Html.RenderPartialAsync("_AppStyleSheetsProd"); }
    </environment>
}

@section Scripts {
    <environment include="Development">
        @{ await Html.RenderPartialAsync("_AppScripts"); }
    </environment>
    <environment exclude="Development">
        @{ await Html.RenderPartialAsync("_AppScriptsProd"); }
    </environment>
}